<!-- Aergrow Website   -->
<!-- by Brian Cottrell -->
<!-- 05/10/2015        -->

<!-- Main content page -->
<template name='pageContent'>
  <!-- Displays a line of buttons to switch content -->
  <div class='button-array'>
    <button>Images</button>
    <button>About</button>
    <button>Contact</button>
  </div>
  <!-- Adds an array of images to the page content -->
  <div class='image-page content-container'>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
    <div class='image-element'></div>
  </div>
  <!-- Sets the page content to display an about page -->
  <div class='about-page content-container'>
    <div class='about-top'></div>
    <div class='about-bottom'></div>
  </div>
  <!-- Sets the page content to display contact info -->
  <div class='contact-page content-container'>
    <div class='contact-image'></div>
    <div class='contact'>
      <p>Suzanne Cottrell and Jenny Baker</p>
      <p>hello@aergrow.com</p>
      <p>(424)254-8711</p>
      <br>
      <p>1417 S. Pacific Coast Highway</p>
      <p>Redondo Beach, CA 90277</p>
    </div>
  </div>
</template>